table{
    width: 50%;
    line-height: 1.5;
    border-color: rgb(235, 173, 125);
    border-style: solid;

}
thead{
    background-color: rgb(169, 103, 28);
    color:rgb(66, 43, 8);
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    border: 2px solid burlywood;
}
td{
    background-color: bisque;
}